################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/G1056_S02/.vs/G1056_S02/v17/LTSC 17.4
/G1056_S02/.vs/G1056_S02/FileContentIndex
/G1058_S02/.vs/1058_S02
/G1058_S02/Debug/1058_S02.tlog
/G1058_S02/Debug
/G1056_S02/Debug
/G1056_S02/.vs/G1056_S02/v17
