################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/G1056_S02/.vs/G1056_S02/v17/LTSC 17.4
/G1056_S02/.vs/G1056_S02/FileContentIndex
